<div class="logo-marquee">
  <div class="marquee-track">
    <img src="img/logo-dare.jpeg" alt="Dare Logo">
    <img src="img/logo-esero.svg" alt="ESERO Logo">
    <img src="img/logo-esa.svg" alt="ESA Logo">
    <img src="img/logo-kkc.avif" alt="Keizer Karel College Logo">
    <img src="img/whitetest.PNG" alt="Lunaris-X Logo">
    <img src="img/logo-nso.png" alt="NSO Logo">
    <img src="img/logo-dare.jpeg" alt="Dare Logo">
    <img src="img/logo-esero.svg" alt="ESERO Logo">
    <img src="img/logo-esa.svg" alt="ESA Logo">
    <img src="img/logo-kkc.avif" alt="Keizer Karel College Logo">
    <img src="img/whitetest.PNG" alt="Lunaris-X Logo">
    <img src="img/logo-nso.png" alt="NSO Logo"><img src="img/logo-dare.jpeg" alt="Dare Logo">
    <img src="img/logo-esero.svg" alt="ESERO Logo">
    <img src="img/logo-esa.svg" alt="ESA Logo">
    <img src="img/logo-kkc.avif" alt="Keizer Karel College Logo">
    <img src="img/whitetest.PNG" alt="Lunaris-X Logo">
    <img src="img/logo-nso.png" alt="NSO Logo">
     
      

  </div>
</div>
